@page "/"
@using TiendaBlazor.Shared
<div>
    <h2>Sabores dulces de España y Japón</h2>
    <p>Bienvenidos a nuestra pastelería, donde ofrecemos una deliciosa selección de dulces españoles y japoneses. 
        En nuestra tienda podrás disfrutar de una amplia variedad de pasteles, tartas, galletas y otros postres artesanales, 
        cuidadosamente elaborados con los mejores ingredientes para ofrecer a nuestros clientes una experiencia gastronómica única. 
        Desde los clásicos dulces españoles como los churros y las torrijas, hasta los tradicionales pasteles japoneses como el mochi y el dorayaki, 
        en nuestra pastelería encontrarás algo para satisfacer todos los paladares. 
        Ven a visitarnos y descubre la magia de nuestros dulces, que te transportarán directamente a la cultura y tradiciones de España y Japón.</p>
    <img src="/imgs/pasteleria.jpg" alt="pasteleria"  width="100%" height="600"/>
</div>
    <br /><hr />
<ProductList />
